$primary-navbar-color: #1f2937;
$secondary-navbar-color: #2d3a4b;
$primary-text-color: #f3f4f6;

.navbar {
  background-color: $primary-navbar-color;
  color: $primary-text-color; 
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 768px) {
    padding: 1.5rem;
  }

  .navbarContainer {
    // "container mx-auto flex justify-between items-center" from Tailwind CSS to scss
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-left: 2.5rem;
      margin-right: 2.5rem;
    }

    .navLink {
      // create some padding around the text and then make it so that when the mouse hovers over the text + padding, the background color changes
      padding: 0.5rem;
      border-radius: 0.8rem;
      color: $primary-text-color;
      &:hover {
        color: #ccc;
        background-color: $secondary-navbar-color;
      }
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

.menuOpen
{
  display: flex;
  position: absolute;
  top: 60px;
  background-color: $primary-navbar-color;
  width: 100%;
  padding: 1rem;
  left: 0;
  gap: 2.5rem;
  flex-direction: column;
  z-index: 10; // Want this above the background image
}

.menuClosed
{
  display: none;
  @media (min-width: 768px) {
    display: flex;
  }
}

.menuButton {
  display: flex;
  align-items: center;
  @media (min-width: 768px) {
    display: none;
  }
  .menuSize
  {
    width: 1.5rem;
    height: 1.5rem;
  }
}
